:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}
.text-style-header-1 {
  font-size: 56px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.text-style-header-2 {
  font-size: 36px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}
.text-style-header-3 {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.text-style-body {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.text-style-body-medium {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.text-style-button-text {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}
.text-style-small-text {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}
.text-style-link-text {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-transform: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Header section */

.header {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.header-link:hover {
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
}
.header-studio {
  color: #2e2f42;
}
.header-list {
}
.header-item {
}
.contact {
  font-style: normal;
}
.contact-list {
}
.contact-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.contact-link {
  color: var(--color-slate);
}
.contact-link:hover {
  color: #404bbf;
}
.contact-link:focus {
  color: #404bbf;
}

/* Hero section */

.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btm {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-btm:hover {
  background-color: #404bbf;
}
.hero-btm:focus {
  background-color: #404bbf;
}

/* Work section */

.work-section {
}
.work-list {
}
.work-item {
}
.work-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.work-uperrtitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Studio section */

.studio-section {
}
.studio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
.studio-list {
}
.studio-item {
}

/* Team section */

.team-section {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-grey);
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.team-uperrtitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer section */

.footer {
  background-color: var(--color-navy-blue);
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-span-logo {
  color: #f4f4fd;
}
.footer-undertitle {
}

/* PORTFOLIO */

.header-logo {
}
.link {
}
.header-studio {
}
.menu-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.menu-link:hover {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}
.menu-list {
}
.list {
}
.menu-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.address {
  font-style: normal;
}
.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.address-link:hover {
  color: #404bbf;
}
.btm {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
}
.btm:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.btm:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.portfolio-uperrtitle {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--color-slate);
}
.footer {
}
.foooter-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-span-logo {
}
.footer-undertitle {
}
